---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=Pueblo,Co&open_at=1610955000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer epSwSfHgAUJby0yq6xu3WuGL5yVRNWO5FZ88zL79GmAxG61lI5g8sXOhQgy6gGIm2MQg-lP_cRGsfHvF14uQlzrUvrjYZw1OtPytu4n4iH7atuqsUI-wUI_UEesFYHYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4997'
      X-Zipkin-Id:
      - 875864c5e428f945
      Ratelimit-Resettime:
      - '2021-01-20T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-5bc6d6966-dfhr4; site=public_api_v3
      X-Proxied:
      - 10-65-135-248-useast1bprod
      X-Extlb:
      - 10-65-135-248-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "hfHvhq_xOFKwRQEZ51TkKA", "alias": "downtown-bar-pueblo",
        "name": "Downtown Bar", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/wbK0AE_S9luXTTJcpkc6uQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/downtown-bar-pueblo?adjust_creative=nM9HEVm_LjuRNEEcmckypg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=nM9HEVm_LjuRNEEcmckypg",
        "review_count": 18, "categories": [{"alias": "bars", "title": "Bars"}], "rating":
        4.0, "coordinates": {"latitude": 38.26814, "longitude": -104.60963}, "transactions":
        [], "price": "$$", "location": {"address1": "103 Central Plz", "address2":
        null, "address3": null, "city": "Pueblo", "zip_code": "81003", "country":
        "US", "state": "CO", "display_address": ["103 Central Plz", "Pueblo, CO 81003"]},
        "phone": "+17195441499", "display_phone": "(719) 544-1499", "distance": 3155.984872262213},
        {"id": "4_NS_I-dY5C0iYF4VzyYJQ", "alias": "wingstop-pueblo", "name": "Wingstop",
        "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/6rUIVeEIh0JskP9Yz4ZJzA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/wingstop-pueblo?adjust_creative=nM9HEVm_LjuRNEEcmckypg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=nM9HEVm_LjuRNEEcmckypg",
        "review_count": 32, "categories": [{"alias": "chicken_wings", "title": "Chicke[...]
